.dropdown-container {
  --dropdown-toggle-bg: #ddd;
  --dropdown-toggle-border: #ccc;
  --dropdown-menu-border: #ddd;
  --dropdown-menu-bg: #fff;
  --dropdown-item-hover-bg: #ffa500;

  position: relative;
  display: inline-block;
  width: max-content;
}

.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}

.dropdown-icon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-item {
  margin-left: 39px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.option-icon {
  margin-right: 8px;
}

.dropdown-item:hover {
  background-color: var(--dropdown-item-hover-bg);
}
